:root{
    --main-width:100%;
    --main-height:100vh;
    --main-color:#c9ff00;
    --second-color:#ffffff;
    --third-color:#000000FF;
}
html, body {
    overflow-x: hidden;
}
body{
    width:var(--main-width);
    height: var(--main-height);
    overflow-x: hidden;
    background: var(--third-color);
    margin: 0;
    padding: 0;
    position: relative;
}
