:root{
    --main-width:100%;
    --main-height:100vh;
    --main-color:#c9ff00;
    --second-color:#ffffff;
    --third-color:#000000FF;
}
body{
    overflow-x: hidden;
    background: var(--second-color);
}
header {
    width: var(--main-width);
    background: var(--third-color);
}
main{
    position: relative;
}
.nav{
    display: flex;
    border-bottom: 1px solid var(--main-color);
    width: var(--main-width);
    height: 55px;
    position: fixed;
    z-index: 2;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}
.myicon{
    width: 80px;
    height: 70px;
}
.navmenu{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 30px;
}
.navmenu li{
    list-style: none;
    font-size: 14px;
}
.navmenu li a{
    text-decoration: none;
    font-weight: bold;
    font-family: Arial;
    color: var(--main-color);
    transition: 0.3s ease;
    position: relative;
}
.navmenu li a:hover {
    color: var(--second-color);
    transform: scale(1.1);
    text-shadow: 0px 0px 10px var(--main-color);
}
.navmenu li a:before{
    content: '';
    position: absolute;
    background: var(--main-color);
    width: 0;
    height: 2px;
    bottom: -7px;
    left: 0;
    transition: 0.7s ease;
}
.navmenu li a:hover:before{
    width: var(--main-width);
}
/*///////////////////////////////////////////////////////////////////////////////////////////*/
.herosection{
    width: var(--main-width);
    height: var(--main-height);
    background: var(--third-color);
    position: relative;
    overflow: hidden;
}
.socialmedia a img{
    width: 30px;
    height: 30px;
}
.socialbar{
    z-index: 3;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: fixed;
    top: 0;
    bottom: 70px;
    margin: auto;
    transform: translate(-60px, 0);
}
.socialmedia a{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    backdrop-filter: blur(5px);
    display: block;
    padding: 10px;
    width: 90px;
    text-align: right;
    transition: 1s;
    transition-property: transform;
}
.socialmedia a:hover{
    transform: translate(30px, 0);
}
#facebook:hover{
    background: #1877F2;
}
#facebookimg{
    transition: 0.3s ease;
}
#facebookimg:hover{
    transform: scale(1.1);
    text-shadow: 0px 0px 10px var(--second-color);
}
#github:hover{
    background:  #181717;
}
#githubimg{
    transition: 0.3s ease;
}
#githubimg:hover{
    transform: scale(1.1);
    text-shadow: 0px 0px 10px var(--second-color);
}
#instergram:hover{
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
}
#instergramimg{
    transition: 0.3s ease;
}
#instergramimg:hover{
    transform: scale(1.1);
    text-shadow: 0px 0px 10px var(--second-color);
}
#linkedin:hover{
    background: #0A66C2;;
}
#linkedinimg{
    transition: 0.3s ease;
}
#linkedinimg:hover{
    transform: scale(1.1);
    text-shadow: 0px 0px 10px var(--second-color);
}
/*/////////////////////////////////////////////////////////////////////////////*/

.section{
    position: relative;
}
.profile{
    position: absolute;
    top: 60px;
    width: var(--main-width);
    height: 1100px;
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
}
.profile>div{
    border: 1px solid transparent;
}
.description > div:first-child {
    width: fit-content;
    font-size: 40px;
    font-weight: bold;
    font-family: "Baloo Da 2", sans-serif;
    background-size: 400% 100%;
    background-image: linear-gradient(90deg,
    #8CFF32, #D4FF32, #E9FF32, #FDFF32, #FFFFFF,
    #00d1ab, #0088d1, #344daf, #0b3157, white
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    position: absolute;
    right: 475px;
    top: 95px;
    animation: animate 70s linear infinite;
}
.description>div:nth-child(2){
    color: var(--second-color);
    font-weight: bold;
    font-family: Dubai;
    font-size: 60px;
    position: absolute;
    top: 143px;
    right: 40px;
    letter-spacing: 5px;
    word-spacing: 10px;
}
.words{
    height: 60px;
    overflow: hidden;
    align-items: center;
}
span{
    padding-bottom: 10px;
    display: block;
    line-height: 60px;
    animation: spin_words 30s infinite;
}
.p1{
    color: #9b9b99;
    font-size: 20px;
    position: absolute;
    top: 200px;
    right: 170px;
}
#name{
    color: #5bdc0b;
    font-family: "Monoton", sans-serif;
    font-size: 120px;
    white-space: nowrap;
    position: absolute;
    top: 500px;
    letter-spacing: 20px;
    animation: scrollText 50s linear infinite;
    word-spacing: 70px;
}


.wrapper{
    background: #111111;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.wrapper>h1{
    align-self: start;
    position:absolute;
    top: 5%;
    color: #c7c3c3;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 20px;
    font-family: Dubai;
}
.container{
    position:absolute;
    top: 135px;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
    gap: 30px;
}
.wrapper>button{
    position: relative;
    align-self: end;
    width: 170px;
    height: 60px;
    border-radius: 50px;
    border: 0;
    font-size: 20px;
    font-family: "Baloo Da 2", sans-serif;
    margin-bottom: 14px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 3;
}
@keyframes animate {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 400% 50%;
    }
}
@keyframes spin_words {
    10% {
        transform: translateY(-112%);
    }
    25% {
        transform: translateY(-100%);
    }
    35% {
        transform: translateY(-212%);
    }
    50% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-312%);
    }
    75% {
        transform: translateY(-300%);
    }
    85% {
        transform: translateY(-412%);
    }
    100% {
        transform: translateY(-400%);
    }
}
@keyframes scrollText {
    0% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-30%);
    }
}